<h2> <%= @play.title %> </h2>
<h3> <%= @play.director %> </h3>
<p> <%= @play.description%> </p>


<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_film_path(@play) %>
<%= link_to "Delete", film_path(@play), method: :delete , data: {confirm: "Are you sure ?"} %>