<h2> <%= @play.title %> </h2>
<h4> <%= @play.category.name %> </h4>
<h3> <%= @play.director %> </h3>
<p> <%= @play.description%> </p>


<div class="Links btn-group">
    <% if user_signed_in? %>
        <% if @play.user_id == current_user.id %>
            <%= link_to "Edit", edit_film_path(@play) %>
            <%= link_to "Delete", film_path(@play), method: :delete , data: {confirm: "Are you sure ?"} %>
        <%end%>
    <%end%>
</div>