<!DOCTYPE html>

  <head>
    <title>Instagrameme</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Bootstrap NavBar --->
    <nav class="navbar navbar-default bg-dark">
    <div class="container ">
    <div class="navbar-header">
    
    <%= link_to "IMDzB", root_path, class: "navbar-brand" %>
    </div>
      <ul class="nav navbar-nav navbar-right">
         <li class="nav-item">
         <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </li>
      <% if user_signed_in? %>
					<li><%= link_to "Add Play", new_film_path %></li>
			
        <li class="nav-item">
         <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
         <%= link_to "Log In", new_user_session_path %>
        </li>
        <li class="nav-item">
         <%= link_to "Sign up", new_user_registration_path %>
        </li>
        <%end%>
     
        </li>
     
      </ul>
      <ul class="nav navbar-nav">


						<% Category.all.each do |category| %>
							<li class="<%= 'active' if params[:category] == category.name %>">
								<%= link_to category.name, films_path(category: category.name), class: "link" %>
							</li>
						<% end %>	
			</ul>

     
    </div>
  
</nav>
    <!-- Bootstrap NavBar --->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <div class = "container">


    <%= yield %>
    </div>
  </body>
</html>
